<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>Details!</title>
</head>
<body>

  <main>
    <div>
      <img src="<%= form.image_url %>" alt="<%= form.title %>"/>
      <p><%= form.title %></p>
      <p><%= form.authors %></p>
      <p><%= form.description %></p>
    </div>
    
    <form method="post" action="/books/<%- form.id %>?_method=delete"> 
      <button type="submit">REMOVE FOREVER</button>
    </form>


    <form method="post" action="/update/<%- form.id %>?_method=put"> 
      <input type="text" name="title" value="<%- form.title %>" placeholder="Title">
      <textarea name="description" id="" cols="30" rows="10"><%- form.description %></textarea>
      <input type="text" name="authors" value="<%- form.authors %>" placeholder="Authors">
      <button type="submit">Update Details</button>
    </form>
  </main>
</body>
</html>