<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>Details!</title>
</head>
<body>
  <main>
    <img src="<%= form.image %>" alt="<%= form.title %>"/>
    <p><%= form.title %></p>
    <p><%= form.authors %></p>
    <p><%= form.description %></p>
  </main>
</body>
</html>