<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/modules.css">
  <link rel="stylesheet" href="/style/icons.css">
  <title>Sue & Randee Book App</title>
</head>
<body>
  <h1>Book List</h1>
  <main>
    <ol>
    <% books.forEach( book => { %>
      <li>
        <div>
          <p>Title: <%= book.title %></p>
          <p>Authors: <%= book.authors %></p>
          <p>Description: <%= book.description %></p>
          <img src="<%= book.image %>" alt="<%= book.title %>"/>
        </div>
      </li>
    <% }) %>
  </ol>
  </main>
</body>
</html>